@font-face {
    font-family: gamefont;
    src: url('gamefont1.ttf');
}

@font-face {
    font-family: 'MingLiU';
    src: url('MingLiU.woff2') format('woff2'),
        url('MingLiU.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: opendys;
    src: url('OpenDyslexic-Regular.otf');
}


p {
    font-family: opendys;
    color: rgb(0, 255, 0);
}

h1, h2, h3, th {
    font-family: MingLiU;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 4em; /* Large size for main heading */
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 2em; /* Slightly smaller than h1 */
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 1em; /* Smaller than h2 */
    color: rgb(255, 255, 255);
}

.screenborder
{
position: fixed;
width: 100%;
min-height: 100%;
pointer-events:none;
}


.center {
margin-top: 0%;
text-align: center;
/*border: 2px solid rgb(60, 200, 0);*/
cursor:url(images/cursor.png), auto;
height: 100%;
/*border-style: dashed;*/
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 80%;
margin-left: auto;
margin-right: auto;
}


th {
border: 1px solid #636363;
text-align: left;
padding: 8px;
font-size: 20px;
}

td {
border: 1px solid #636363;
font-size: 15px;
}

tr:nth-child(even) {
background-color: #292929;
}

html, body {
height: 100%;
}

#container {
  width: 100%;
  display: flex;
}
#leftThing {
  width: 25%;
}
#content {
  width: 50%;
}
#rightThing {
  width: 25%;
}

.gif-container {
    text-align: center;
    margin: 20px 0;
}

.pfp-gif {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.space {
    margin-bottom: 20px; /* Adjust the vertical height (bottom margin) as needed */
}